.header-logo {
  text-align: center;
  float: left;
  padding-top: 15px;
  border: 1px solid #74b9ff;
  background-color: #74b9ff;
  width: 250px;
  height: 40px;
  font-size: 18px;
  font-weight: 100;
}
.header-template {
  text-align: center;
  float: left;
  padding-top: 15px;
  border: 1px solid #fab1a0;
  background-color: #fab1a0;
  width: 350px;
  height: 40px;
  font-size: 18px;
  font-weight: 100;
}
.header-action {
  text-align: center;
  float: left;
  border: 1px solid #ffeaa7;
  background-color: #ffeaa7;
  width: 250px;
  height: 57px;
  font-size: 18px;
  font-weight: 100;
}
.header-menu {
  text-align: center;
  float: left;
  padding-top: 15px;
  border: 1px solid #55efc4;
  background-color: #55efc4;
  width: 602px;
  height: 40px;
  font-size: 18px;
  font-weight: 100;
}
.header-search {
  text-align: center;
  float: left;
  border: 1px solid #74b9ff;
  background-color: #74b9ff;
  width: 250px;
  height: 57px;
  font-size: 18px;
  font-weight: 100;
}
.header-banner {
  text-align: center;
  float: left;
  padding-top: 15px;
  border: 1px solid #D6A2E8;
  background-color: #D6A2E8;
  width: 852px;
  height: 40px;
  font-size: 18px;
  font-weight: 100;
}

.main-left {
  text-align: center;
  float: left;
  border: 1px solid #f7f1e3;
  background-color: #f7f1e3;
  width: 130px;
  height: 400px;
  line-height: 400px;
  font-size: 18px;
  font-weight: 100;
}

.main-content {
  text-align: center;
  float: left;
  border: 1px solid #ffeaa7;
  background-color: #ffeaa7;
  width: 580px;
  height: 400px;
  line-height: 400px;
  font-size: 18px;
  font-weight: 100;
}

.main-right {
  text-align: center;
  float: left;
  border: 1px solid #f7f1e3;
  background-color: #f7f1e3;
  width: 138px;
  height: 400px;
  line-height: 400px;
  font-size: 18px;
  font-weight: 100;
}

.footer {
  text-align: center;
  float: left;
  padding-top: 15px;
  border: 1px solid #f78fb3;
  background-color: #f78fb3;
  width: 852px;
  height: 40px;
  font-size: 18px;
  font-weight: 100;
}

@media screen and (max-width: 2000px) {
  
}

@media screen and (max-width: 1280px) {
  
}